@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar CSS */
/* Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: #93c5fd #1b2335;
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 2px;
}
*::-webkit-scrollbar-track {
	background: #1b2335;
}
*::-webkit-scrollbar-thumb {
	background-color: #93c5fd;
	border-radius: 10px;
	border: 0px solid #1b2335;
}
